/** Comportamiento de caja */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** COLORES WEB **/
.color1 {color: #000000;}
.color2 {color: #1c2549;}
.color3 {color: #49579c;}
.color4 {color: #7f90fc;}
.color5 {color: #bed0ff;}
.color5 {color: #c82e6b;}

/** Link Genera */

/** Body */
body{
    background-image: url('../images/fondo.jpg');
    background-repeat: repeat;
    background-size: contain;
    height: 100vh;
}

/** Header -------------------*/
header{
    border:none;
    text-align: center;
    height: 10vw; /** 10% de altura */
    padding-top: 50px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
header h1 {
    border:none;
    margin: 10px auto;
    max-width: 50vw /** 50% */;
    color: #c82e6b; 
    background-color: transparent;
    font-size: 35px;
    padding: 5px;
}
nav {
    border:none;
    background-color: transparent;
    height: 70px;
    padding: 10px;
    margin: 10px;
}
header ul li {
    list-style: none;
    display: inline;
    width: 100%;
    height: 100%;
}
nav a:link, nav a:visited {
    text-decoration: none;
    font-size: 24px;
    color: #bed0ff;
    margin: 0 20px;
    width: 100%;
    height: 100%;
}
nav a:hover {
    color: #3f3242;
    background-color: #b0c4d6;
    width: 100%;
    height: 100%;
    font-size: 26px;
    border-radius:10px;
    padding: 4px 5px;
}
/** Main -------------------*/
section.contenido {
    width: 100%;
    padding: 3vw;   /** 3% */

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

}
article{
    background-color: #bed0ff;
    color: #000000;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    /** Activa scrollbar si no coge en el contenedor */ 
    scroll-behavior: auto;
    scroll-behavior: smooth;
}
p.tituloArticulo  {
    text-align: left;
    font-size: 26px;
    font-weight: bold;
    margin: 10px 20px;
}
article a:link, article a:visited {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    font-size: 24px;
    color: #3f3242;   
    margin: 0 20px 5px;
}
article a:hover {
    color: #c82e6b;
    background-color: #1c2549;
    /*width: 100%;
    height: 100%;
    display: inline-block; */
    border-radius: 10px;
}
p.enunciado { /** Ejercicio con enunciado y ejercicio */
    display: flex;
    justify-content: flex-start;
}
/** Footer -------------------*/
footer {
   display: relative;
   bottom: 0vh;
   float: right;
}
footer p {
    height: 100%;
    margin-top: 10px;
    font-family: sans-serif; /** Buscar fuente */
    font-weight: bold;
    font-size: 12px;
    padding:0 1vw;
}

/** tablet  -------------------*/
@media (max-width:900px) {
    section {
        display: flex;
        justify-content: column;
        flex-wrap: wrap;
    }
}