body{
    text-align: center;
}

a, a:visited{
    text-decoration: none;
    color: black;
}
a:hover {
    color:deeppink;
}
img {
    max-width: 300px;
}
footer{
    padding: 20px 0;
    background-color: lightslategray;
    color:white;
    text-align: center;
}