:root {

    --principal:#B2B377;
    --secundario:#D2D180;
    --grisViolera:#E5E483;
    --morado:#35374B;
    --blanco:#fff;
    --negro: #000;
    --rojo: #FF204E;

    --fuentePrincipal: 'Montserrat', sans-serif;
}

/** Globales ******************************/
html {
    font-size: 62.5%; /** 1rem = 10px */
    box-sizing: border-box;
}
*,*::before,::after {
    box-sizing: inherit;
}
body{
    font-family: var(--fuentePrincipal);
    background:linear-gradient( #35374B 65%,#E493B3) ;
}
h1,h2, h3 {
    padding: 1rem;
    text-align: center;
}
h1 {font-size: 4rem;}
h2 {font-size: 3.6rem;}
h3 {font-size: 2rem;}

p{
    font-family: var(--fuentePrincipal);
    color: var(--negro);
    background-color: var(--blanco);
    padding: 1rem;
}
img {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
}
a {
    text-decoration: none;
    font-size: 2.4rem;
    color: var(--negro);
}
/** Header ******************************/
.header{
    display: flex;
    flex-direction: column;
    background-color: rgb(0 0 0 / 40%);
    backdrop-filter: blur(10px);
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.header__info, .header__navegacion {
    width: 80%;
    /*max-width: 140rem;*/
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    background-color: transparent;
    justify-content: space-around;
    align-items: center;
}

.header__enlace-logo {
    
    margin-left: 5rem;
    max-width: 20rem; 
}
.header__enlace-logo picture {
    margin-left: 3rem;
    max-width: 20rem;
    justify-self: flex-start;
}

.header__texto ,.footer__texto  {
    font-family: "Dancing Script", cursive;
    font-size: 7rem;
    color: var(--blanco);
}
p.header__texto{
    font-size: 4rem;
    font-weight: bold;
    background-color: transparent;
}
.header__contacto, .footer__contacto{
    text-align: center;
    display: block;
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
    background-color: transparent;
    
}
.header__contacto { color: var(--blanco);}
.footer__contacto { color: var(--negro);}
.header__navegacion a {
    color: var(--blanco);
    font-size: 3rem;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 1rem;
    border-color: rgba(255, 255, 255, 0.2);
    margin-right: .5rem;
    padding: .5rem 2rem;
}
.header__navegacion a img{
    width: 2rem;
    margin-right: 1rem;
}
.header__navegacion a:hover {
    cursor: pointer;
    color: var(--grisViolera);
    font-size: 3rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}
.header__navegacion a:active {
    color: var(--principal);
}
/* idiomas en vertical y casi juntos ******************************/
.header .idiomas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header .idiomas a{
    font-size: 1.6rem;
    margin: .5rem 0;
}

/** MAIN ******************************/
main {
    background-color: rgb(0 0 0 / 30%);
    backdrop-filter: blur(10px);
    padding:2rem 0 5rem;
}
/** Multimedia ******************************/
.multimedia {
    width: 95%;
    max-width: 140rem;
    margin: 0 auto;
    background-color: transparent;
    padding: 1rem;
}
.multimedia audio {
    width: 100%;
}

/** Galeria ******************************/

/* .galeria {
    width: 95%;
     max-width: 140rem; 
    margin: 0 auto;
} */

/** Slider *****************************/
/* .slider{
    aspect-ratio: 10/16;
    width: min(85%, 140rem);
    position: relative;
    display: flex;
    height: 50rem;
    overflow: scroll;
    scroll-snap-align: x mandatory;
}
.slider img{
    width: 100%;
    height: 100%;
    min-height: 10rem;
    left: 0;
    position: sticky;
    object-fit: contain;
    border-radius: 5px;
    scroll-snap-align: center;
} */
/** Informacion *****************************/
.informacion{
    max-width: 95%;
    margin: 0 auto;
}
.informacion h2, .informacion p{
    background-color: transparent;
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
}
.informacion h2 {
    font-size: 3rem;
}
.informacion p {
    text-align: justify;
    margin: 0 auto;
    max-width: 60%;
    font-size: 2.4rem;

    line-height: 1.5;
    letter-spacing: 1.5px;
}
.informacion p:first-of-type:first-letter {
    margin-left: 2rem;
}

/** Footer ************************************************/
.footer{
    color: var(--negro);
    display: block;
    margin: 4rem auto;
    display: flex;
    min-height: 15vw;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
h1.footer__texto{
    order: 1;
}
p.footer__texto:last-of-type{
    order: 2;
}
.footer__enlace-logo {
    margin-left: 3rem;
    max-width: 20rem; 
}
.footer__enlace-logo picture {
    margin-left: 3rem;
    max-width: 20rem;
    justify-self: flex-start;
}
.footer__texto, 
.footer__texto a {
    color: var(--negro);
    background-color: transparent;
    font-size: 6rem;
}
.footer__texto a:hover {
    cursor: pointer;
    color: var(--secundario);
}
p.footer__texto {
    font-size: 3rem;
    padding: 0;
    margin: 0;
} 
.footer__texto--firma{
    color: var(--negro);
    font-family: Arial, Helvetica, sans-serif;
}
/** Contacto ************************************************/
.contacto {
    width: 95%;
    max-width: 140rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(0 0 0 / 20%);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    padding: 2rem;
}
.contacto__logo {
    max-width: 30rem; 
    width: 100%;
}
.contacto__info {
    color: var(--blanco);
    margin-left: 5rem;
    letter-spacing: 5px;
    line-height: 1.5;
    flex: 1 0 calc(80% -1rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
#googleMaps{
    color: var(--blanco);
}
.contacto .contenedor {
    width: 95%;
    max-width: 140rem;
    height: 30vw;
    margin: 0 auto;
}
iframe {
    width: 80%;
    margin: 2rem auto;
}

/** SLIDER GALERIA ************************************************/
.galeria{
    margin: 0 auto;
    padding: 0%;
    box-sizing: border-box;
  }
  .galeria h2 {
    color: var(--blanco);
    background-color: rgb(0 0 0 / 33%);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    font-weight: bold;
  }
  .texto1galeria{
    text-align: center ;
  }
  
  .galeriainstalaciones{
    display:flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-width: 100%;
  }
  
  .galeriadinamica{
    width: 612px ;
    height: 408px;
    position: relative;  
}
  
  .imagenesestilos .galeriadinamica {
    width: 100%;
    height: 100%;
  }
  
  .imagenesestilos .galeriadinamica img{
    width: 100%;
    height: 100%;
  }
  .imagenesestilos{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagenesestilos img {
    height: 40rem;
    width: auto;
  }
  
  .sliders{
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    margin: 0 auto;
    color: #586c6b;
    border: 1.5px solid #586c6b;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    background-color: transparent;
    font-size: 35px;
    transform: translateY(-50%);
  }
  
  .sliders:hover{
    border: 2px solid  #e4eefb;
    color: #e4eefb;
    background: rgba(255, 255, 255, 0.6);
  }
  
  .left {
    left: -16rem;
  }
  .right{
    right:-16rem;
  }
  .left:hover, .right:hover{
    color:var(--rojo);
  }
  
  .botonslider{
    position: absolute;
    bottom: 20px;
    left: 50%;
    display:flex;
    transform: translateX(-50%);
  }
  .btn{ /** Posicionar radiobuttons fuera de la imagen */
    position: relative;
    bottom: -5rem;
  }
  
  .btn:hover{
    border: 2px solid  #e4eefb;
    color: #e4eefb;
    background: rgba(255, 255, 255, 0.6);
  }
  
  .botonslider span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1.5px solid #586c6b;
    margin: 5px;
    cursor: pointer;
  }
  