

label {
	background: #444;
	color: #fff;
	transition: transform 400ms ease-out;
	display: inline-block;
    min-height: 100%;
	width: 100vw;
	height: 100vh;
	position: relative;
	z-index: 1;
	text-align: center;
	line-height: 100vh;
}

.slider{
	width: 95%;
	overflow: hidden;
	max-width: 140rem;
	margin: 0 auto;
	min-height: 100rem;
}

.slider form {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	white-space: nowrap;
}
input {
	position: absolute;
}

.keys {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	color: #fff;
	text-align: center;
	transition: all 300ms linear;
	opacity: 0;
}

input:focus ~ .keys {
	opacity: 0.8;
}

input:nth-of-type(1):checked ~ label:nth-of-type(1), 
input:nth-of-type(2):checked ~ label:nth-of-type(2),
input:nth-of-type(3):checked ~ label:nth-of-type(3),
input:nth-of-type(4):checked ~ label:nth-of-type(4){
   z-index: 0;
}

input:nth-of-type(1):checked ~ label {
	transform: translate3d(0, 0, 0);
}

input:nth-of-type(2):checked ~ label {
	transform: translate3d(-100%, 0, 0);
}

input:nth-of-type(3):checked ~ label {
	transform: translate3d(-200%, 0, 0);
}

input:nth-of-type(4):checked ~ label {
	transform: translate3d(-300%, 0, 0);
}

label {
	background-size: cover;
	font-size: 3rem;
	background-position: 0%;
}

label[for="clubs"]{
	background-image: url('../img/salon1.jpg');
}
label[for="hearts"] {
	background-image: url('../img/salon2.png');
}
label[for="spades"] {
	background-image: url('../img/salon3.jpg');
}
label[for="diamonds"] {
	background-image: url('../img/salon4.jpg');
}

/** Aspecto botones slider */

label:before,
label:after {
	color: red;
	display: block;
	background-color: aqua;
	position: absolute;
	padding: 1rem;
	font-size: 3rem;
	height: 10rem;
	vertical-align: middle;
	line-height: 10rem;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	cursor: pointer;
}

/** Texto botones slider */
label:before {
	content: "\00BB";
	right: 100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

label:after {
	content:"\00AB";
	left: 100%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}


